<%- include('../includes/sidebar-start') %>
    <h2>Hello <%= user.user%>, Welcome to your school dashboard</h2>

    <p style="text-align: justify;">আপনার বিদ্যালয়ের এডমিন ড্যাশবোর্ড - এ আপনাকে স্বাগতম। এখান থেকে আপনি
        আপনার বিদ্দালয়ের সাথে
        কারা কারা কারা যোগাযোগ
        করেছেন, নোটিশ দেখা, নতুন নোটিশ অ্যাড করা, নোটিশ ডিলেট করা, শিক্ষক অ্যাড করা, শিক্ষকমণ্ডলী থেকে শিক্ষক ডিলেট করা
        বিষয়ক বিভিন্ন তথ্য পাবেন। </p>
    <%- include('../includes/sidebar-end') %>